/**I found very useful information about "Flex" in www.w3schools.com and
www.developer.mozilla.org**/

body {
  margin: 0;
}

header, .first__element, .center__element,
.container, .pic, .last, .icons, .logo {
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: 1024px;
  height: 160px;
  background-image: linear-gradient(to top right, #ff4d4d 0%, tomato 100%);
  border-bottom: 8px solid black;
}

#title {
  text-align: right;
  color: white;
  font-family: cursive;
  margin-right: 25px;
}

.udacity {
  margin: 25px 20px;
  height: 120px;
  width: 120px;
  border-radius: 7px 7px;
}

.first__element {
  width: 1024px;
  height: 450px;
  margin-top: 5px;
  max-width: 100%;
  text-align: center;
  line-height: 40px;
  color: red;
  text-shadow: 4px 4px 2px tomato;
  vertical-align: middle;
  font-size: 2em;
}

.simone {
  width: 1024px;
  height: 350px;
  max-width: 100%
}

.center__element {
  width: 1024px;
  max-width: 100%;
  line-height: 10px;
  font-size: 1em;
  font-family: cursive;
  text-align: center;
  color: red;
  text-shadow: 4px 4px 2px tomato;
}

.container {
  max-width: 100%;
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 16px;
  background-image: linear-gradient(to top right, #ff4d4d 0%, tomato 100%);
  width: 20%;
  margin: 8px;
  padding: 15px;
  border: 2px solid blue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.pic {
  height: 200px;
  width: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  background-image: linear-gradient(to top right, #ffff80 0%, #ffff4d 100%);
}

.info {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
}

.last {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: 1024px;
  height: 120px;
  background-image: linear-gradient(to top right, #ff4d4d 0%, tomato 100%);
  border-top: 8px solid black;
  text-align: left;
  color: white;
  font-family: sans-serif;
}

.end {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 100%;
  align-items: flex-start;
}

.links {
  color: red;
  font-size: 26px;
  font-family: cursive;
}

.links a {
  color: inherit;
}

.facebook, .instagram, .linkedin {
  max-width: 100%;
  margin-top: 15px;
  border-width: 5px;
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 7px 7px;
  margin-left: 10px;
  margin-right: 10px;
}
